html, body
{
    height: 100%;
}

textarea
{
    width: 95%;
    height: 350px;
}

.outputPanel
{
    white-space: pre-wrap;
}

.activity
{
    border: solid 1px #666;
}

.activity .header
{
    background-color: #ccc;
    padding: 3px 5px;
    font-size: 20px;
}

.activity form
{
    padding: 5px;
}

.activity + .activity
{
    margin-top: 10px;
}

.help-block
{
    font-size: 0.8em;
}

.addActivityButtonGroup
{
    margin-right: 10px;
}

.addActivityButtonGroup button,
.regexpHelpButton
{
    padding-right: 10px;
    padding-left: 10px;
}

.blankSlateHelper
{
    border: dashed 1px #69C370;
}

.blankSlateHelper .newActivityPanel
{
    text-align: center;
}

.blankSlateHelper .newActivityPanel p
{
    margin-top: 20px;
}

.blankSlateHelper .header
{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #69C370;
    text-align: center;
    color: white;
}

.flowChainPanel
{
}

.flowChainPanelContents
{
    overflow-y: scroll;
}

.activity
{
    background-color: #f0f0f0;
}

.MainController
{
    padding-top: 35px;
}

.inputTextPanel
{
}

.outputTextPanel
{
}

.inputTextPanel textarea,
.outputTextPanel textarea
{
}