textarea
{
    width: 95%;
    height: 200px;
}

.outputPanel
{
    white-space: pre-wrap;
}

.flowTransition
{
    border: solid 1px #666;
}

.flowTransition .header
{
    background-color: #ccc;
    padding: 5px;
    font-size: 20px;
}

.flowTransition form
{
    padding: 5px;
}

.flowTransition + .flowTransition
{
    margin-top: 10px;
}

.help-block
{
    font-size: 0.8em;
}

.addTransitionButtonGroup
{
    margin-right: 10px;
}

.addTransitionButtonGroup button,
.regexpHelpButton
{
    padding-right: 10px;
    padding-left: 10px;
}
