<!doctype html>
<html ng-app="RegexpFlowApplication">
<head>
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>

<div class="container" ng-controller="MainController">
    <div class="page-header">
        <h1>Regexp Flow</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <textarea ng-model="input.text"></textarea>
            </div>
            <div class="row">
                <div class="outputPanel"><span ng-bind-html-unsafe="output.text"></span></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row flowTransition" ng-repeat="flowTransition in flowChain.transitions">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <label>Search regexp
                                <button type="button" ng-click="showHelp = !showHelp" class="btn btn-xs btn-info">Help</button>
                            </label>
                            <input type="text" class="form-control" ng-model="flowTransition.searchString" placeholder="search regular expression"/>

                            <p ng-show="showHelp" class="help-block">flags: m (multiline), i (ignore case), g (global match)</p>
                        </div>
                        <div class="form-group">
                            <label>Replacement string</label>
                            <input type="text" class="form-control" ng-model="flowTransition.replaceString" placeholder="replacement regular expression"/>

                            <p ng-show="showHelp" class="help-block">$1, $2, $3 - for groups.
                                $$	Inserts a "$".
                                $&	Inserts the matched substring.
                                $`	Inserts the portion of the string that precedes the matched substring.
                                $'	Inserts the portion of the string that follows the matched substring.
                                $n or $nn
                                Where n or nn are decimal digits, inserts the nth parenthesized submatch string, provided the first argument was a RegExp object.</p>

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
