<form ng-class="{ regExpErrors: !textProcessor.regexpIsValid } ">
	<fieldset>
		<div class="form-group">
			<label>Find all matches (Found: {{ textProcessor.matchesCount }})</label>
			<input type="text" ng-trim="false" class="form-control input-sm" ng-model="textProcessor.searchString" placeholder="regular expression"/>

			<p class="regExpErrorMessages" ng-hide="textProcessor.regexpIsValid">{{ textProcessor.regexpValidationMessage }}</p>
		</div>
		<div class="form-group form-inline">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="textProcessor.searchFlagCaseInsensitive"> Case Insensitive
				</label>
			</div>
		</div>
	</fieldset>
	<fieldset class="textProcessorDescription">
		<div class="form-group" ng-show="textProcessor.shouldShowDescription()">
			<label>Description</label>
			<input type="text" class="form-control input-sm" ng-model="textProcessor.description"/>
		</div>
	</fieldset>
</form>
