<form ng-class="{ regExpErrors: !textProcessor.regexpIsValid } ">
	<fieldset>
		<div class="form-group">
			<label>Get lines <span ng-show="textProcessor.flagInvertMatch">not</span> matching (showing {{ textProcessor.linesMatchedCount }} of {{ textProcessor.totalLinesCount }} lines)</label>
			<input type="text" class="form-control input-sm" ng-model="textProcessor.searchString" placeholder="regular expression"/>

			<p class="regExpErrorMessages" ng-hide="textProcessor.regexpIsValid">{{ textProcessor.regexpValidationMessage }}</p>
		</div>
		<div class="form-group form-inline">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="textProcessor.searchFlagCaseInsensitive"> Case Insensitive
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="textProcessor.flagInvertMatch"> Invert match?
				</label>
			</div>
			<ul ng-show="showHelp" class="help-block">
				<li>returns whole lines that are matched by regular expression</li>
				<li>if 'invert' flag is checked - then returns lines that DO NOT match regular expression</li>
				<li>lines are returned, joined with \n character - not their original newline character!</li>
			</ul>
		</div>
	</fieldset>
	<fieldset class="textProcessorDescription">
		<div class="form-group" ng-show="textProcessor.shouldShowDescription()">
			<label>Description</label>
			<input type="text" class="form-control input-sm" ng-model="textProcessor.description"/>
		</div>
	</fieldset>
</form>
