<form ng-class="{ regExpErrors: !textProcessor.regexpIsValid } ">
	<fieldset>
		<div class="form-group">
			<label>Search for</label>
			<input type="text" class="form-control input-sm" ng-model="textProcessor.searchString" placeholder="regular expression"/>

			<p class="regExpErrorMessages" ng-hide="textProcessor.regexpIsValid">{{ textProcessor.regexpValidationMessage }}</p>
		</div>
		<div class="form-group form-inline">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="textProcessor.searchFlagGlobal"> Global
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="textProcessor.searchFlagMultiline"> Multiline
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="textProcessor.searchFlagCaseInsensitive"> Case Insensitive
				</label>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<div class="form-group">
			<label>and replace with. ({{ textProcessor.replacementsCount }} replacements)</label>
			<input type="text" class="form-control input-sm" ng-model="textProcessor.replaceString" placeholder="replacement string"/>
			<ul ng-show="showHelp" class="help-block">
				<li>$1, $2, $3 - for groups.</li>
				<li>$$ Inserts a "$".</li>
				<li>$& Inserts the matched substring.</li>
				<li>$` Inserts the portion of the string that precedes the matched substring.</li>
				<li>$' Inserts the portion of the string that follows the matched substring.</li>
				<li>$n or $nn</li>
				<li>Where n or nn are decimal digits, inserts the nth parenthesized submatch string, provided the first argument was a RegExp object.</li>
				<li>\t, \n - to insert tab/newline characters</li>
			</ul>
		</div>
	</fieldset>
	<fieldset class="textProcessorDescription">
		<div class="form-group" ng-show="textProcessor.shouldShowDescription()">
			<label>Description</label>
			<input type="text" class="form-control input-sm" ng-model="textProcessor.description"/>
		</div>
	</fieldset>
</form>
