h3 {
  font-size: 20px;
  margin-top: 10px;
}
.form-group {
  margin-bottom: 5px;
}
.input-sm {
  height: 25px;
}
.navbar-default {
  height: 35px;
  min-height: 35px;
  padding-left: 5px;
  padding-right: 5px;
}
.navbar-brand {
  padding: 5px 0;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.navbar-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
html,
body {
  height: 100%;
}
.PageContent {
  padding-top: 35px;
}
.PageContent .inputOutputColumn .inputPanel textarea {
  width: 95%;
  height: 350px;
  font-family: monospace;
  font-size: 12px;
  white-space: pre-wrap;
}
.PageContent .inputOutputColumn .outputPanel textarea {
  width: 95%;
  height: 350px;
  font-family: monospace;
  font-size: 12px;
  white-space: pre-wrap;
}
.PageContent .flowColumn .flowHeader .description {
  width: 100%;
  margin-bottom: 5px;
}
.PageContent .flowColumn .exportPanel {
  margin: 10px 0;
}
.PageContent .flowColumn .exportPanel textarea {
  width: 100%;
  height: 100px;
  font-size: 12px;
  font-family: monospace;
  margin-bottom: 5px;
}
.PageContent .flowColumn .importPanel {
  margin: 10px 0;
}
.PageContent .flowColumn .importPanel textarea {
  width: 100%;
  height: 100px;
  font-size: 12px;
  font-family: monospace;
  margin-bottom: 5px;
}
.PageContent .flowColumn .flowColumnContents {
  overflow-y: auto;
}
.PageContent .flowColumn .blankSlate {
  border: dashed 1px #69c370;
}
.PageContent .flowColumn .blankSlate .newActivityPanel {
  text-align: center;
}
.PageContent .flowColumn .blankSlate .newActivityPanel p {
  margin-top: 20px;
}
.PageContent .flowColumn .blankSlate .header {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  background-color: #69c370;
  text-align: center;
  color: white;
}
.PageContent .flowColumn .textProcessor {
  border: solid 1px #666;
  background-color: #f0f0f0;
}
.PageContent .flowColumn .textProcessor + .textProcessor {
  margin-top: 10px;
}
.PageContent .flowColumn .textProcessor.textProcessorDisabled .textProcessorForm {
  display: none;
}
.PageContent .flowColumn .textProcessor.textProcessorDisabled .header {
  color: #999;
}
.PageContent .flowColumn .textProcessor .header {
  font-size: 16px;
  background-color: #ccc;
  padding: 3px 5px;
}
.PageContent .flowColumn .textProcessor .header .addActivityButtonGroup {
  margin-right: 10px;
}
.PageContent .flowColumn .textProcessor .header .addActivityButtonGroup button {
  padding-right: 10px;
  padding-left: 10px;
}
.PageContent .flowColumn .textProcessor .header .regexpHelpButton {
  padding-right: 10px;
  padding-left: 10px;
}
.PageContent .flowColumn .textProcessor form {
  padding: 5px;
}
.PageContent .flowColumn .textProcessor .help-block {
  font-size: 0.8em;
}
.PageContent .flowColumn .textProcessor .textProcessorForm label {
  font-weight: normal;
}
.PageContent .flowColumn .textProcessor .textProcessorForm form.regExpErrors {
  background-color: #ffcccc;
}
.PageContent .flowColumn .textProcessor .textProcessorForm form p.regExpErrorMessages {
  padding: 5px 0;
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
}
.PageContent .InfoSection {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px #ccc;
  background-color: #f8f8f8;
  font-size: 12px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.exportPanel .exportPanel {
  margin: 10px 0;
}
.exportPanel .exportPanel textarea {
  width: 100%;
  height: 100px;
  font-size: 12px;
  font-family: monospace;
  margin-bottom: 5px;
}
.importPanel .importPanel {
  margin: 10px 0;
}
.importPanel .importPanel textarea {
  width: 100%;
  height: 100px;
  font-size: 12px;
  font-family: monospace;
  margin-bottom: 5px;
}
.statusMessages {
  margin-top: 5px;
}
.statusMessages .alert {
  margin-bottom: 5px;
}
