<div class="navbar navbar-default navbar-fixed-top PageHeader">
    <span class="navbar-brand"><a href="#/">RegexpFlow</a></span>
    <span class="navbar-text"><span class="btn btn-xs btn-danger disabled">of course it's beta ({{ version.version }})</span></span>
    <span class="navbar-text"><span class="btn btn-xs btn-info" ng-click="infoPanelVisible = !infoPanelVisible">tech info</span></span>
    <span class="navbar-text pull-right"><button type="button" class="btn btn-info btn-xs" ng-click="createSampleFlow()">Load sample flow</button></span>
</div>


<div class="container PageContent">
<div class="row InfoSection" ng-show="infoPanelVisible">
    <p><a href="https://github.com/drbonzo/regexp_flow">RegexpFlow</a> created by <a href="https://github.com/drbonzo">dr_bonzo</a></p>

    <p>GitHub project page: <a href="https://github.com/drbonzo/regexp_flow">https://github.com/drbonzo/regexp_flow</a></p>

    <p>Uses:</p>
    <ul>
        <li><a href="http://angularjs.org/">AngularJS</a></li>
        <li><a href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
        <li><a href="http://jquery.com/">jQuery</a></li>
    </ul>

    <span class="btn btn-xs btn-default" ng-click="infoPanelVisible = !infoPanelVisible">close</span>
</div>

<div class="row statusMessages" ng-show="statusMessages.length > 0">
    <div class="alert alert-dismissable" ng-repeat="statusMessage in statusMessages" ng-class="'alert-' + statusMessage.cssClass" ng-click="dismissStatusMessage(statusMessage)">
        {{ statusMessage.message }}
        <button type="button" class="close" ng-click="dismissStatusMessage(statusMessage)">&times;</button>
    </div>
</div>

<div class="row">
<div class="col-md-7 inputOutputColumn">
    <div class="row inputPanel">
        <h3>Input text</h3>
        <textarea ng-model="input.text" class="inputText"></textarea>
    </div>
    <div class="row outputPanel">
        <h3>Output text</h3>

        <div class="outputPanel"><textarea ng-model="output.text" class="outputText"></textarea></div>
    </div>
</div>
<div class="col-md-5 flowColumn">
    <div class="row flowHeader">
        <h3>Flow chain ({{ flow.textProcessors.length }})
            <!--
            <button type="button" class="btn btn-xs btn-default" ng-click="toggleImportPanel()" title="Import Flow from JSON">Import</button>
            <button type="button" class="btn btn-xs btn-default" ng-click="exportFlowToJSON()" title="Export Flow to JSON" ng-show="flow.textProcessors.length > 0">Export</button>
            -->
            <button type="button" class="btn btn-xs btn-success" ng-click="saveFlow()">Save</button>
        </h3>


        <form>
            <fieldset>
                <div class="form-group form-inline">
                    <label>Description: </label>
                    <input type="text" class="form-control input-sm description" ng-model="flow.description" placeholder="flow description"/>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row flowColumnContents">
        <div class="col-md-12">
            <div class="row exportPanel" ng-show="exportPanelVisible">
                <textarea ng-model="exportData"></textarea>
                <button type="button" class="btn btn-xs btn-default" ng-click="exportPanelVisible = false">Close</button>
            </div>
            <div class="row importPanel" ng-show="importPanelVisible">
                <textarea ng-model="importData"></textarea>
                <button type="button" class="btn btn-xs btn-info" ng-click="importFlowFromJSON()" ng-disabled="!importData">Import</button>
                <button type="button" class="btn btn-xs btn-default" ng-click="importPanelVisible = false">Close</button>
            </div>
            <div class="row flowChain">
                <div class="col-md-12">
                    <div class="row blankSlate" ng-show="chainHasNoTextProcessors()">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="header">Add new TextProcessor</div>
                            </div>

                            <div class="row">

                                <div class="col-md-3 newTextProcessorPanel">
                                    <button type="button" class="btn btn-lg btn-success" ng-click="addNewReplaceTextProcessor(null)">&plus;R</button>
                                    <p>Replace text with other text using regular expressions</p>
                                </div>
                                <div class="col-md-3 newTextProcessorPanel">
                                    <button type="button" class="btn btn-lg btn-success" ng-click="addNewFindAllTextProcessor(null)">&plus;FA</button>
                                    <p>Find all matches, and return them in lines</p>
                                </div>
                                <div class="col-md-3 newTextProcessorPanel">
                                    <button type="button" class="btn btn-lg btn-success" ng-click="addNewMatchLineTextProcessor(null)">&plus;ML</button>
                                    <p>Leave only lines that match regular expression</p>
                                </div>
                                <div class="col-md-3 newTextProcessorPanel">
                                    <button type="button" class="btn btn-lg btn-success" ng-click="addNewMatchInLineTextProcessor(null)">&plus;MIL</button>
                                    <p>Leave only lines that match regular expression and leave only matched text</p>
                                </div>
                                <div class="col-md-3 newTextProcessorPanel">
                                    <button type="button" class="btn btn-lg btn-success" ng-click="addNewUniqueTextProcessor(null)">&plus;UQ</button>
                                    <p>Leave only lines that match regular expression and leave only matched text</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row textProcessor textProcessor_{{ $index }}" ng-repeat="textProcessor in flow.textProcessors" ng-class="{ textProcessorDisabled: !textProcessor.isEnabled }">
                        <div class="header">
                            {{ $index+1 }}. {{ textProcessor.displayName }}
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-xs btn-default regexpHelpButton" ng-click="showHelp = !showHelp" title="Toggle help">?</button>
                                <button type="button" class="btn btn-xs btn-info" ng-click="toggleShowDescription(textProcessor, $index)" title="Toggle description"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button type="button" class="btn btn-xs btn-warning" ng-click="toggleEnabledFlag(textProcessor)" title="Disable/enable textProcessor"><span class="glyphicon glyphicon-pause"></span></button>
                                <button type="button" class="btn btn-xs btn-danger" ng-click="removeTextProcessor(textProcessor)" title="Remove textProcessor"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>

                            <div class="btn-group pull-right addTextProcessorButtonGroup">
                                <button type="button" class="btn btn-xs btn-success" ng-click="addNewReplaceTextProcessor(textProcessor)" title="Add Replace TextProcessor">&plus;R</button>
                                <button type="button" class="btn btn-xs btn-success" ng-click="addNewFindAllTextProcessor(textProcessor)" title="Add FindAll TextProcessor">&plus;FA</button>
                                <button type="button" class="btn btn-xs btn-success" ng-click="addNewMatchLineTextProcessor(textProcessor)" title="Add MatchLine TextProcessor">&plus;ML</button>
                                <button type="button" class="btn btn-xs btn-success" ng-click="addNewMatchInLineTextProcessor(textProcessor)" title="Add MatchInLine TextProcessor">&plus;MIL</button>
                                <button type="button" class="btn btn-xs btn-success" ng-click="addNewUniqueTextProcessor(textProcessor)" title="Add Unique TextProcessor">&plus;UQ</button>
                            </div>
                        </div>
                        <div class="textProcessorForm" ng-switch="textProcessor.typeName">
                            <div ng-switch-when="RegexpReplaceTextProcessor">
                                <form ng-class="{ regExpErrors: !textProcessor.regexpIsValid } ">
                                    <fieldset>
                                        <div class="form-group">
                                            <label>Search for</label>
                                            <input type="text" class="form-control input-sm" ng-model="textProcessor.searchString" placeholder="regular expression"/>

                                            <p class="regExpErrorMessages" ng-hide="textProcessor.regexpIsValid">{{ textProcessor.regexpValidationMessage }}</p>
                                        </div>
                                        <div class="form-group form-inline">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="textProcessor.searchFlagGlobal"> Global
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="textProcessor.searchFlagMultiline"> Multiline
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="textProcessor.searchFlagCaseInsensitive"> Case Insensitive
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label>and replace with. ({{ textProcessor.replacementsCount }} replacements)</label>
                                            <input type="text" class="form-control input-sm" ng-model="textProcessor.replaceString" placeholder="replacement string"/>
                                            <ul ng-show="showHelp" class="help-block">
                                                <li>$1, $2, $3 - for groups.</li>
                                                <li>$$ Inserts a "$".</li>
                                                <li>$& Inserts the matched substring.</li>
                                                <li>$` Inserts the portion of the string that precedes the matched substring.</li>
                                                <li>$' Inserts the portion of the string that follows the matched substring.</li>
                                                <li>$n or $nn</li>
                                                <li>Where n or nn are decimal digits, inserts the nth parenthesized submatch string, provided the first argument was a RegExp object.</li>
                                                <li>\t, \n - to insert tab/newline characters</li>
                                            </ul>
                                        </div>
                                    </fieldset>
                                    <fieldset class="textProcessorDescription">
                                        <div class="form-group" ng-show="textProcessor.shouldShowDescription()">
                                            <label>Description</label>
                                            <input type="text" class="form-control input-sm" ng-model="textProcessor.description"/>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div ng-switch-when="RegexpFindAllTextProcessor">
                                <form ng-class="{ regExpErrors: !textProcessor.regexpIsValid } ">
                                    <fieldset>
                                        <div class="form-group">
                                            <label>Find all matches (Found: {{ textProcessor.matchesCount }})</label>
                                            <input type="text" class="form-control input-sm" ng-model="textProcessor.searchString" placeholder="regular expression"/>

                                            <p class="regExpErrorMessages" ng-hide="textProcessor.regexpIsValid">{{ textProcessor.regexpValidationMessage }}</p>
                                        </div>
                                        <div class="form-group form-inline">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="textProcessor.searchFlagCaseInsensitive"> Case Insensitive
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
									<fieldset class="textProcessorDescription">
                                        <div class="form-group" ng-show="textProcessor.shouldShowDescription()">
                                            <label>Description</label>
                                            <input type="text" class="form-control input-sm" ng-model="textProcessor.description"/>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div ng-switch-when="RegexpMatchLineTextProcessor">
                                <form ng-class="{ regExpErrors: !textProcessor.regexpIsValid } ">
                                    <fieldset>
                                        <div class="form-group">
                                            <label>Get lines <span ng-show="textProcessor.flagInvertMatch">not</span> matching (showing {{ textProcessor.linesMatchedCount }} of {{ textProcessor.totalLinesCount }} lines)</label>
                                            <input type="text" class="form-control input-sm" ng-model="textProcessor.searchString" placeholder="regular expression"/>

                                            <p class="regExpErrorMessages" ng-hide="textProcessor.regexpIsValid">{{ textProcessor.regexpValidationMessage }}</p>
                                        </div>
                                        <div class="form-group form-inline">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="textProcessor.searchFlagCaseInsensitive"> Case Insensitive
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="textProcessor.flagInvertMatch"> Invert match?
                                                </label>
                                            </div>
                                            <ul ng-show="showHelp" class="help-block">
                                                <li>returns whole lines that are matched by regular expression</li>
                                                <li>if 'invert' flag is checked - then returns lines that DO NOT match regular expression</li>
                                                <li>lines are returned, joined with \n character - not their original newline character!</li>
                                            </ul>
                                        </div>
                                    </fieldset>
									<fieldset class="textProcessorDescription">
                                        <div class="form-group" ng-show="textProcessor.shouldShowDescription()">
                                            <label>Description</label>
                                            <input type="text" class="form-control input-sm" ng-model="textProcessor.description"/>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div ng-switch-when="RegexpMatchInLineTextProcessor">
                                <form ng-class="{ regExpErrors: !textProcessor.regexpIsValid } ">
                                    <fieldset>
                                        <div class="form-group">
                                            <label>From each line, extract text matching (showing {{ textProcessor.linesMatchedCount }} of {{ textProcessor.totalLinesCount }} lines)</label>
                                            <input type="text" class="form-control input-sm" ng-model="textProcessor.searchString" placeholder="regular expression"/>

                                            <p class="regExpErrorMessages" ng-hide="textProcessor.regexpIsValid">{{ textProcessor.regexpValidationMessage }}</p>
                                        </div>
                                        <div class="form-group form-inline">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="textProcessor.searchFlagCaseInsensitive"> Case Insensitive
                                                </label>
                                            </div>
                                        </div>
                                        <ul ng-show="showHelp" class="help-block">
                                            <li>checks each line of input - if it matches regular expression</li>
                                            <li>if line matches regular expression - then the match from regular expression is being returned
                                                <ul>
                                                    <li>if regular expression had no groups - then full match is being returned ($&/$0)</li>
                                                    <li>if regular expression did had groups - then only first group is being returned ($1)</li>
                                                </ul>
                                            </li>
                                            <li>if line does not match - then it is being ommited in result</li>
                                        </ul>
                                    </fieldset>
									<fieldset class="textProcessorDescription">
                                        <div class="form-group" ng-show="textProcessor.shouldShowDescription()">
                                            <label>Description</label>
                                            <input type="text" class="form-control input-sm" ng-model="textProcessor.description"/>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div ng-switch-when="RegexpUniqueTextProcessor">
                                <form ng-class="{ regExpErrors: !textProcessor.regexpIsValid } ">
                                    <fieldset>
                                        <div class="form-group">
                                            <label>Show just unique lines (showing {{ textProcessor.linesMatchedCount }} of {{ textProcessor.totalLinesCount }} lines)</label>
                                        </div>
                                        <div class="form-group form-inline">
                                        </div>
                                        <ul ng-show="showHelp" class="help-block">
                                        </ul>
                                    </fieldset>
									<fieldset class="textProcessorDescription">
                                        <div class="form-group" ng-show="textProcessor.shouldShowDescription()">
                                            <label>Description</label>
                                            <input type="text" class="form-control input-sm" ng-model="textProcessor.description"/>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
